{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "nebularr.fullname" . }}-metrics
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nebularr.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - name: metrics
      port: {{ .Values.metrics.port }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "nebularr.selectorLabels" . | nindent 4 }}
{{- end }}
